# =========================
# user Files
# =========================
*.pyc


# =========================
# user Files
# =========================
*/data/
*/gmail_takeout/
*/umich_takeout/
*.conf
*.pdf
*.png
*.dot
